.markdown {
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold tracking-tight;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  p + h2,
  p + h3,
  ul + h2,
  ul + h3,
  ol + h2,
  ol + h3 {
    @apply mt-6;
  }

  h2 + h3,
  h2 + h2 {
    @apply mt-2;
  }

  p {
    @apply text-base mt-2 leading-normal;
  }

  a {
    @apply text-purple-400 no-underline;
  }

  a:hover {
    @apply text-purple-500;
  }

  p + ul {
    @apply mt-4;
  }

  ul {
    @apply list-disc pl-8 mt-2 mb-8;
  }

  ol {
    @apply list-decimal pl-8 mt-2;
  }

  li:not(:last-child) {
    @apply mb-4;
  }

  blockquote {
    @apply border-l-2 border-gray-200 pl-3 mt-6 mb-8;
  }

  .highlight {
    @apply mt-4 mb-6;
    pre {
      @apply text-sm m-0 p-4;

      code {
        @apply bg-none p-0;
      }
    }
  }

  pre:has(code) {
    @apply p-2 m-4 rounded-lg overflow-x-auto;
  }

  pre {
    code {
      @apply bg-inherit text-sm font-mono;
    }
  }

  code {
    @apply text-sm text-purple-300 bg-purple-800 p-1 rounded;
  }
}

hr {
  @apply border-t border-gray-200 my-8;
}
